@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body, html * {
  font-family: 'Roboto Mono', sans-serif;
}

body {
	display: block;
	font-family: 'Roboto Mono', sans-serif;
	text-align: left;
	padding: 20px;
}
