.materia {
	display: block;
	font-size: 15px;
}

.aluno, .orientador {
	display: block;
	font-size: 18px;
	text-align: center;
}

.orientador a, a:visited {
	text-decoration-line: none;
	overflow: hidden;
	color: #595959;
}

.orientador a:hover {
	color: #ababab;
}

.tema {
	text-align: center;
}