.menu-horizontal nav {
	display: block;
	text-align: center;
}

.menu-horizontal ul {
	vertical-align: center;
	text-align: center;
}

.menu-horizontal ul li {
	display: inline;
	font-size: 20px;
	list-style-type: none;
	padding: 15px;
}

.menu-horizontal ul li a, a:visited {
	text-decoration-line: none;
	overflow: hidden;
	color: #595959;
}

.menu-horizontal ul li a:hover {
	color: #ababab;
}